<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs - Job Aggregator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
          <div>
              <a href="index.html">Home</a>
              <a href="about.html">About</a>
              <a href="faq.html">FAQ</a>
              <a href="signup.html">Sign Up</a>
          </div>
          <div>
              <a href="login.html">Login</a>
          </div>
      </nav>
      
    </header>

    <div class="container">
        <div class="logo">
            <img src="../static/logo.png" alt="Logo" width="100">
        </div>
        <section class="faq-section">
            <h2>FAQs</h2>
            
            <div class="faq-item">
                <h3>1. How do I search for jobs?</h3>
                <p>Simply enter your skills in the search box on the home page and click "Search Jobs" to view a list of relevant job openings.</p>
            </div>

            <div class="faq-item">
                <h3>2. Do I need an account to search for jobs?</h3>
                <p>No, you don’t need an account to search for jobs. However, signing up allows you to save job listings and track your applications.</p>
            </div>

            <div class="faq-item">
                <h3>3. How do I create an account?</h3>
                <p>Click on the "Sign Up" link in the navigation bar, fill in your details, and submit the form to create an account.</p>
            </div>

            <div class="faq-item">
                <h3>4. How do I apply for a job?</h3>
                <p>Once you find a job listing, click the "View Job" link, which will take you to the job listing page on the original site where you can apply.</p>
            </div>

            <div class="faq-item">
                <h3>5. I forgot my password. What should I do?</h3>
                <p>If you forget your password, click on the "Forgot Password" link on the login page to reset it.</p>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 JobLo</p>
    </footer>
</body>
</html>
